@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-slate-50 via-slate-100 to-slate-50 text-slate-900;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
